@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

$font-family: 'Poppins', sans-serif;
$heading-color: #162C4E;
$text-color: #000000cc;
$button-color: #fff;

// Брейк поинты
$breakpoint-max: 1920px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 360px;

